header
    div.header
        div.container
            div.header_top
                a(href="#").logo
                    img(src="img/logo.png").logo_img
                div.nav
                    span.nav_text Меню
                    button(type="button").nav_button
                        span
            div.menu
                ul.menu_list
                    li.menu_item
                        a.menu_link Menu 1
                    li.menu_item
                        a.menu_link Menu 2
                    li.menu_item
                        a.menu_link Menu 3
                    li.menu_item
                        a.menu_link Menu 4

            div.header_main
                div.title
                    h1.title_h1
                        p
                            span.title_thin Пункт назначения:
                            span Пантеон,
                        span.title_bold марс

                div.header_video
                    div.video
                        div.video_block
                        div.video_description
                            p Первый город  на планете Марс  недалеко от горы  Олимп

                button(type="button").header_scrolldown




